API_HOST=
DATABASE=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_PROTOCOL=
DATABASE_SCHEMA_ADMIN=
DATABASE_SCHEMA_CLEAN=
DATABASE_SCHEMA_WORKSPACE=
DATABASE_SCHEMA_VAULT=
DATABASE_USER_ADMIN=
DATABASE_USER_PW_ADMIN=
DATABASE_USER_ANALYST=
DATABASE_USER_PW_ANALYST=
DATABASE_USER_DROPPER=
DATABASE_USER_PW_DROPPER=
DATABASE_USER_MANAGER=
DATABASE_USER_PW_MANAGER=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_URL=
NEXTAUTH_SECRET=